@import "~bootstrap/scss/bootstrap.scss";
body{background: #202020}
.outter-box{
    display: flex;
    justify-content: center;
    padding-top: 10rem;
}
.card{
    width: 10rem;
    height: 15rem;
    margin-left: 0.5rem;
    font-size: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}